name: build RustDeskTempTopMostWindow

on:
  workflow_call:
    inputs:
      upload-artifact:
        type: boolean
        default: true
      target:
        type: string
        default: 'windows-2022'
      configuration:
        type: string
        default: 'Release'
      platform:
        type: string
        default: 'x64'
      target_version:
        type: string
        default: 'Windows10'

env:
  project_path: WindowInjection/WindowInjection.vcxproj

jobs:
  build-RustDeskTempTopMostWindow:
    runs-on: ${{ inputs.target }}
    steps:
      - name: Add MSBuild to PATH
        uses: microsoft/setup-msbuild@v2

      - name: Download the source code
        run: |
          git clone https://github.com/rustdesk-org/RustDeskTempTopMostWindow RustDeskTempTopMostWindow

      - name: Build the project
        run: |
          cd RustDeskTempTopMostWindow
          git checkout 53b548a5398624f7149a382000397993542ad796
          msbuild ${{ env.project_path }} -p:Configuration=${{ inputs.configuration }} -p:Platform=${{ inputs.platform }} /p:TargetVersion=${{ inputs.target_version }}

      - name: Archive build artifacts
        if: ${{ inputs.upload-artifact == true }}
        uses: actions/upload-artifact@v4
        with:
          name: topmostwindow-artifacts
          path: |
            RustDeskTempTopMostWindow/WindowInjection/${{ inputs.platform }}/${{ inputs.configuration }}/WindowInjection.dll
